{% extends 'base.html.twig' %}

{% block title %}StarWars - Database{% endblock %}

{% block head %}
  <meta charset="utf-8">

{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ path('/homeStyle.css')}}">
{% endblock %}

{% block body %}
<style>
    /* body{background: url("{{ asset('img/font.jpg')}}"); background-repeat: no-repeat; background-position: bottom; background-size: contain;} */
    .container{margin: 0; width: 100%; padding: 0;}
    main{margin: 0; margin-top: 5%;}
    h1{text-align: center; font-size: 180%; width: 100vw;}
    h2{text-align: center; font-size: 120%; width: 100vw;}
    footer{position: fixed; bottom: 0; left: 0; width: 100vw; padding-left: 2%; background: black; color: white;}
    .block-footer p{font-size: 80%; margin: 0; padding: 5px;}
    .flex-content{padding-top: 5%; display: flex; flex-wrap: wrap; justify-content: space-between; width: 100vw;}
    a{margin: 10px 5vw;}
    .overlay {position: absolute; top: 0; left: 0; display: none; background-color: rgba(255, 255, 255, .5); z-index: 2; width: calc(20vw - 6px); height: calc(90% - 6px);}
    a:hover .overlay{display: block;}
    a:hover .details{color: black; font-size: 150%; bottom: 50%; background: none; z-index: 3; font-weight: bold;}
    a img{max-height: 90%; width: 18vw; padding-left: 1vw; text-align: center;}
    img.background{position: absolute; text-align: center; bottom: 8vh; width: 30vw; height: auto; margin-left: 35vw; z-index: -1;}
    .content{position: relative; border: black 3px solid; width: 20vw; height: 30vh;}
    .content .details{text-decoration: none; position: absolute; bottom: 0; text-align: center; color: white; background: black; width: 100%; margin: 0; transition: .5s ease;}
</style>

  <main class="block-main">
      <h1>Salutation maître de la force !</h1>
      <h2>Tu trouveras ici le travail de notre semaine d'ORM</h2>
      <div class="flex-content">
      <a href="{{ path('person_index')}}">
        <div class="content">
          <img src="{{ asset('img/person.jpg')}}" alt="person">
          <p class="details">Person</p>
          <div class="overlay"></div>
        </div>
      </a>
      <a href="{{ path('starship_index')}}">
        <div class="content">
          <img src="{{ asset('img/starship.png')}}" alt="starship">
          <p class="details">StarShip</p>
          <div class="overlay"></div>
        </div>
      </a>
      <a href="{{ path('planete_index')}}">
        <div class="content">
          <img src="{{ asset('img/planete.jpg')}}" alt="planete">
          <p class="details">Planete</p>
          <div class="overlay"></div>
        </div>
      </a>
      <a href="{{ path('species_index')}}">
        <div class="content">
          <p class="details">Species</p>
          <div class="overlay"></div>
        </div>
      </a>
      <a href="{{ path('vehicule_index')}}">
        <div class="content">
          <p class="details">Vehicule</p>
          <div class="overlay"></div>
        </div>
      </a>
      <img class="background" src="{{ asset('img/font.jpg')}}" alt="starwars">
      </div>

  </main>
  <footer class="block-footer">
    <p>made by Mathieu, Jérémy, Guillaume (et Hadrien ?)</p>
  </footer>
{# {{ path('name_route')}} #}
{% endblock %}
