{% extends 'base.html.twig' %}

{% block title %}Le search qui a été demandé par Tom{% endblock %}

{% block body %}
{{ form_start(form) }}
    <table class="table">
        <thead>
            <tr>
                <th>Planete</th>
                <th>Species</th>
                <th>Search Person</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ form_widget(form.planete) }}</td>
                <td>{{ form_widget(form.species) }}</td>
                <td>{{ form_widget(form.Search)}}</td>
        </tbody>
    </table>
    <button class="btn btn-success">{{ button_label|default('Search now') }}</button>
{{ form_end(form) }}

{% if result %}
    <div> {{ result.name }} </div>
{% endif %}
{% endblock %}
