<form method="post" action="{{ path('starship_delete', {'id': starship.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE"><br>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ starship.id) }}"><br>
    <button class="btn btn-danger">Delete</button>
</form>
