{% extends 'base.html.twig' %}

{% block title %}Edit Starship{% endblock %}

{% block body %}
    <h1>Edit Starship</h1>

    {{ include('starship/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-secondary' href="{{ path('starship_index') }}">back to list</a>

    {{ include('starship/_delete_form.html.twig') }}
{% endblock %}
