{% extends 'base.html.twig' %}

{% block title %}New Starship{% endblock %}

{% block body %}
    <h1>Create new Starship</h1>

    {{ include('starship/_form.html.twig') }}

    <a class='btn btn-secondary' href="{{ path('starship_index') }}">back to list</a>
{% endblock %}
