{% extends 'base.html.twig' %}

{% block title %}Starship{% endblock %}

{% block body %}
    <h1>Starship</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ starship.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ starship.name }}</td>
            </tr>
            <tr>
                <th>Length</th>
                <td>{{ starship.length }}</td>
            </tr>
            <tr>
                <th>Hyperdrive_rating</th>
                <td>{{ starship.hyperdriveRating }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-secondary' href="{{ path('starship_index') }}">back to list</a>

    <a class='btn btn-warning' href="{{ path('starship_edit', {'id': starship.id}) }}">edit</a>

    {{ include('starship/_delete_form.html.twig') }}
{% endblock %}
