<form method="post" action="{{ path('vehicule_delete', {'id': vehicule.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button type="hidden" name="_method" value="DELETE"> <br>
    <button type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}"> <br>
    <button class="btn btn-danger">Delete</button>
</form>
