{% extends 'base.html.twig' %}

{% block title %}Edit Vehicule{% endblock %}

{% block body %}
    <h1>Edit Vehicule</h1>

    {{ include('vehicule/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-secondary' href="{{ path('vehicule_index') }}">back to list</a>

    {{ include('vehicule/_delete_form.html.twig') }}
{% endblock %}
