{% extends 'base.html.twig' %}

{% block title %}New Vehicule{% endblock %}

{% block body %}
    <h1>Create new Vehicule</h1>

    {{ include('vehicule/_form.html.twig') }}

    <a class='btn btn-secondary' href="{{ path('vehicule_index') }}">back to list</a>
{% endblock %}
