{% extends 'base.html.twig' %}

{% block title %}Edit Planete{% endblock %}

{% block body %}
    <h1>Edit Planete</h1>

    {{ include('planete/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-secondary" href="{{ path('planete_index') }}">back to list</a>

    {{ include('planete/_delete_form.html.twig') }}
{% endblock %}
