{% extends 'base.html.twig' %}

{% block title %}Planete index{% endblock %}

{% block body %}
<style>
  .back-button{position: fixed; top: 10px; left: 5px; padding: 10px 30px; border-radius: 5px; background: black; color: white; text-decoration: none;}
  .back-button:hover{font-weight: bold; transition: .5s ease; text-decoration: none; color: white;}
</style>

    <a class="back-button" href="{{ path('star_wars')}}">◄ Back</a>
    <h1>Planete index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Diameter</th>
                <th>Climate</th>
                <th>Population</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planete in planetes %}
            <tr>
                <td>{{ planete.id }}</td>
                <td>{{ planete.name }}</td>
                <td>{{ planete.diameter }}</td>
                <td>{{ planete.climate }}</td>
                <td>{{ planete.population }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('planete_show', {'id': planete.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('planete_edit', {'id': planete.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info btn-lg btn-block" class="btn btn-warning" href="{{ path('planete_new') }}">Create new</a>
{% endblock %}
