{% extends 'base.html.twig' %}

{% block title %}Planete{% endblock %}

{% block body %}
    <h1>Planete</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planete.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ planete.name }}</td>
            </tr>
            <tr>
                <th>Diameter</th>
                <td>{{ planete.diameter }}</td>
            </tr>
            <tr>
                <th>Climate</th>
                <td>{{ planete.climate }}</td>
            </tr>
            <tr>
                <th>Population</th>
                <td>{{ planete.population }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('planete_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('planete_edit', {'id': planete.id}) }}">edit</a>

    {{ include('planete/_delete_form.html.twig') }}
{% endblock %}
