{% extends 'base.html.twig' %}

{% block title %}Edit Species{% endblock %}

{% block body %}
    <h1>Edit Species</h1>

    {{ include('species/_form.html.twig', {'button_label': 'Update'}) }}

    <a class='btn btn-secondary' href="{{ path('species_index') }}">back to list</a>

    {{ include('species/_delete_form.html.twig') }}
{% endblock %}
