{% extends 'base.html.twig' %}

{% block title %}Species index{% endblock %}

{% block body %}
<style>
  .back-button{position: fixed; top: 10px; left: 5px; padding: 10px 30px; border-radius: 5px; background: black; color: white; text-decoration: none;}
  .back-button:hover{font-weight: bold; transition: .5s ease; text-decoration: none; color: white;}
</style>

    <a class="back-button" href="{{ path('star_wars')}}">◄ Back</a>
    <h1>Species index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Classification</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for species in species %}
            <tr>
                <td>{{ species.id }}</td>
                <td>{{ species.name }}</td>
                <td>{{ species.classification }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('species_show', {'id': species.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('species_edit', {'id': species.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info btn-lg btn-block" href="{{ path('species_new') }}">Create new</a>
{% endblock %}
