{% extends 'base.html.twig' %}

{% block title %}New Species{% endblock %}

{% block body %}
    <h1>Create new Species</h1>

    {{ include('species/_form.html.twig') }}

    <a class='btn btn-secondary' href="{{ path('species_index') }}">back to list</a>
{% endblock %}
