{% extends 'base.html.twig' %}

{% block title %}Species{% endblock %}

{% block body %}
    <h1>Species</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ species.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ species.name }}</td>
            </tr>
            <tr>
                <th>Classification</th>
                <td>{{ species.classification }}</td>
            </tr>
        </tbody>
    </table>

    <a class='btn btn-secondary' href="{{ path('species_index') }}">back to list</a>

    <a class='btn btn-warning' href="{{ path('species_edit', {'id': species.id}) }}">edit</a>

    {{ include('species/_delete_form.html.twig') }}
{% endblock %}
