{% extends 'base.html.twig' %}

{% block title %}Person index{% endblock %}

{% block body %}
<style>
  .back-button{position: fixed; top: 10px; left: 5px; padding: 10px 30px; border-radius: 5px; background: black; color: white; text-decoration: none;}
  .back-button:hover{font-weight: bold; transition: .5s ease; text-decoration: none; color: white;}
</style>

    <a class="back-button" href="{{ path('star_wars')}}">◄ Back</a>
    <h1>Person index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Height</th>
                <th>Masse</th>
                <th>Gender</th>
                <th>Planete</th>
                <th>vehicule</th>
                <th>starships</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person.id }}</td>
                <td>{{ person.name }}</td>
                <td>{{ person.height }}</td>
                <td>{{ person.masse }}</td>
                <td>{{ person.gender }}</td>
                {% if person.planete.name %}
                    <td>{{ person.planete.name}}</td>
                {% else %}
                    <td> Unknow </td>
                {% endif %}
                <td>
                {% for vehicule in person.vehicule %}
                   {{ vehicule.name}} <br>
                {% endfor %}
                </td>
                <td>
                {% for starships in person.starships %}
                    {{ starships.name}} <br>
                {% endfor %}
                </td>
                <td>
                    <a class="btn btn-primary" href="{{ path('person_show', {'id': person.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('person_edit', {'id': person.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info btn-lg btn-block" href="{{ path('person_new') }}">Create new</a>
{% endblock %}
